<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="container" id="lista_compras">
			<div class="row">
				<div class="col-md-12">
					<h1>{{titulo ?? 'El titulo no existe'}}</h1>
					<p>
						El operador de fusión nula (??) es un operador lógico que devuelve su operando del lado
						derecho cuando su operando del lado izquierdo es nullo undefined, y de lo contrario devuelve
						su operando del lado izquierdo.
					</p>
					<button
						@click="cambiarShowDiv"
						v-bind:class="['mb-2','btn', mostrarDiv ? 'btn-warning' : 'btn-success']"
					>
						{{nombreBoton}}
					</button>
					<div class="form-inline" v-if="mostrarDiv">
						<div class="form-group mx-sm-3 mb-2">
							<label for="txtNewUtil" class="sr-only">Password</label>
							<input
								type="text"
								class="form-control"
								placeholder="Libros"
								v-model="newUtil"
								@keyup.enter="validarCampo"
							/>
						</div>
						<span class="mx-3">{{maximoCarateres}}/200</span>
						<button
							type="button"
							class="btn btn-primary mb-2"
							@click="validarCampo"
							:disabled="(newUtil.length >= 3)? false : true"
						>
							Agregar nuevo util
						</button>
					</div>

					<ul>
						<li
							v-for="utiles in listautiles"
							:class="utiles.comprado?'txt-tachado':''"
							@click="cambiarStatusCompra(utiles)"
						>
							{{utiles.descripcion}}
						</li>
					</ul>
					<span v-if="listautiles.length === 0">No se encuetra una lista de utiles</span>
				</div>
			</div>
		</div>

		<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
		<script
			src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"
		></script>
		<script src="https://unpkg.com/vue@next"></script>
		<script src="app.js"></script>
	</body>
</html>
